body{
    display: flex;
    position: relative;
}

#container{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.caja {
    padding: 0px;
    margin: 0px;
    width: 35px;
    height: 35px;
    /* display: inline-block; */
    border: 1px solid black;
}
.salto{
    display: block;
    width: 100%;
}